@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFFFF;

}

html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    background-color: #1A242D;
}

section{
    max-width: 1400px;
    margin: auto;
}



header{
    width: 96%;
    min-height: 5vh;
    height: max-content;
    padding: 0 2% ;
    background-color: #1A242D; 
    border-bottom: 1px solid #249EBD;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    transition: .5s ease;
}
nav a:hover{
    color: #249EBD;
    border-bottom: 1px solid #249EBD;
}


.contactar a{
    color: #249EBD;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #249EBD;
    transition: .3s ease;
}
.contactar a:hover{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #249EBD;
}

header img{
    display: none;
}

@media (max-width: 800px) {

    header{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    nav{
        display: none;
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
    }
    nav ul{
        flex-direction: column;
        background-color: #1A242D;
        padding: 60px 20px 20px;
        gap: 15px;
        
    }

    .contactar a{
        font-size: 18px;
        padding: 3px;
        margin-right: 60px;
    }

    header i{
        display: block;
        color: #FFFFFF;
        padding: 4px 6px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 10px;
        object-fit: cover;
    }

    #xmark{
        display: none;
    }
}


#home{
    width: 100%;
    min-height: 60vh;
    margin-top: 5vh;
    background-image: url(img/dark-geometric-background-with-copy-space.png );
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    border-bottom: 1px solid #249EBD;

}
#home .img{
    width: 100%;
    position: absolute;
    bottom: 0px;

    display: flex;
    justify-content: center;
}
.img img{
    height: 400px;
}
.info{
    width: 300px;
}
#home h1{
    font-size: 60px;
    width: max-content;
    
}

#home h2{
    color: #249EBD;

}
#home p{
    font-size: 18px;
}

#home button{
    background-color: #249EBD;
    border: none;
    padding: 5px 7px;
    font-size: 20px;
    border-radius: 5px;
}

#sobre{
    width: 95%;
    margin: 30vh  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.sobre {
    width: 60%;
    max-width: 600px;
    text-align: justify;
}

span{
    color: #249EBD;
}
.sobre h1{
    margin-left: 20%;
    margin-bottom: 10vh;
    font-size: 40px;
}
.sobre p{
    margin-bottom: 20px;
}

#servicos{
    width: 90%;
    margin: 30vh auto ;
}

#servicos h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10vh;

}

#services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.cardvices{
    width: 80%;
    padding: 20px 0;
    background-color: #233242;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 15px 15px 15px #0e0e0e6b;
    cursor: pointer;
    transition: .3s ease;
}

.cardvices:hover{
    scale: 1.2;

}
.cardvices div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.cardvices h3{
    text-align: center;
}
.cardvices p{
    width: 80%;
}

#services img{
    width: 60px;
} 


.projetos{
    width: 90%;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    position: relative;
}

#projetos h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

#projetos img{
    width: 100%;
}

.projeto{
    border: 1px solid #249EBD;
    box-shadow: 10px 10px 10px #00000073;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    transition: .3s ease;
    cursor: pointer;
}

.projeto:hover{
    scale: 1.2;
    z-index: 2;
}

.projeto h3{
    text-align: center;
    margin-bottom: 10px;
}

.projeto p{
    width: 85%;
    margin: 0 auto 20px;
    text-align: justify;
}

#contactos{
    width: 90%;
    margin: 20vh auto;
}

#contactos h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.contactos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}

.redes{
    background-color: aqua;
}

form{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    
}